/* generlazing all font family will be tahoma */
h1, h2, h3, h4, h5, h6, p, ul, li {
  /*font-family: Helvetica;*/
  font-family: 'Lato', sans-serif;
}

/*
for logo
font-family: 'Orbitron', sans-serif;
for other
font-family: 'Lato', sans-serif;
*/

/* --- navigation --- */
nav.navbar {
  background-color: rgba(0, 0, 0, 1);
  /*background-color: transparent;*/
  box-shadow: none;
  border: none;
  z-index: 999999;
  padding-top: 20px;
  padding-bottom: 0px;
  height: 63px;
}

/*#sidenav-overlay {
  z-index: 90
}*/

/*nav a i#fixside {
  color: #fffffa;
}*/

nav.navbar div a#logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  /*color: #D90429;*/
  color: #cecece;
  padding-left: 10px;
  padding-top: 0px;
}

nav.navbar ul.nav li a {
  /*font-weight: bold;*/
  font-family: 'Orbitron', sans-serif;
  color: #fffffa;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav.navbar ul.nav li a:hover {
  color: #fffffa;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 7px;
}

nav.navbar button.navbar-toggle {
  margin-top: -5px;
  border: none;
}

nav.navbar button.navbar-toggle i {
  font-size: 25px;
  color: #fffffa;
}

nav.navbar ul.nav {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 0px;
}

nav.navbar ul.nav li a {
  color: #edf2f4;
}

/*nav.navbar ul.nav li a:hover {
  background-color: rgba(64, 64, 64, 0.7);
  color: #ffffff;
  font-weight: bold;
}*/

/* ----------------------------------------- index.php --------------------------- */
body#homebd {
  background-color: #222222;
}

/* parallax slider */
.parallax-slider {
  position: relative;
}

.slider-wrapper {
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.slide {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: inline-block;
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  transition: 0.9s ease-in-out transform;
  backface-visibility: hidden;
}

.slide-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}
.slide-indicator ol {
  display: inline-block;
}
.slide-indicator li {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.slide-indicator li:hover {
  background: #f16876;
}

.slide-indicator li.active {
  background: #f16876;
}

.slide::before {
  content: '';
  display: inline-block;
  height: 50%;
}

.content {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
  color: #fff;
  transform: translate(-5px);
}

.caption {
  padding: 15px;
  transition: 0.4s;
  transition-delay: 0.8s;
  opacity: 0;
  transform: translatey(200%);
  margin-top: 265px;
  width: 700px;
}
.caption h1 {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 5px #000000;
}

.caption h1 span#chocid {
  font-family: 'Mr De Haviland', cursive;
  color: #D90429;
  font-size: 80px;
}

.slide-active .caption {
  transform: translatey(0);
  opacity: 1;
}

/*.home {
  height: 1000px;
  position: relative;
}*/

.slide1 {
  background: url("../images/slider01.jpg") top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide2 {
  background: url("../images/slider02.jpg") top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide3 {
  background: url("../images/slider03.jpg") top center;
  background-size: cover;
  background-repeat: no-repeat;
}

div#homecont {
  text-align: center;
}

div#homecont h1 {
  font-family: 'Orbitron', sans-serif;
  /*color: #D90429;*/
  /*color: #1351d8;*/ /*Ford Color */
  color: #a1a1a1;
  font-size: 45px;
  padding-bottom: 10px;
}

div#homecont p {
  color: #efefef;
  font-size: 20px;
  line-height: 35px;
  padding-right: 30px;
  padding-left: 30px;
  font-weight: 300;
}

div#homecont button {
  font-size: 20px;
  color: #fffffa;
  background-color: #999999;
  border: none;
  box-shadow: 3px 3px 7px #aaaaaa;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 10px;
}

div#homecont button:hover {
  font-size: 22px;
}


/* ----- horizontal accordion ------ */
.container02 {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.accordion {
  list-style: none;
  display: block;
  overflow: hidden;
  height: 400px;
}
.accordion li {
  display: inline-block;
  margin: 0px;
  width: 200px;
  overflow: hidden;
  cursor: pointer;
  vertical-align: text-top;
}
.accordion .active {
  width: 500px;
}



/* media queries for fixing the hieght */
@media all and (max-width: 992px) {
  .caption {
    width: 600px;
  }

  .caption h1 {
    font-size: 45px;
  }

  .caption h1 span#chocid {
    font-size: 70px;
  }
}

@media all and (max-width: 768px) {
  .caption {
    width: 450px;
  }

  .caption h1 {
    font-size: 45px;
  }

  .caption h1 span#chocid {
    font-size: 67px;
  }

  div#homecont h1 {
    font-size: 65px;
  }

  div#homecont p {
    font-size: 21px;
  }
}

@media only screen and (max-width: 500px) {
  .caption {
    width: 400px;
  }

  .caption h1 {
    font-size: 40px;
  }

  .caption h1 span#chocid {
    font-size: 63px;
  }

}

@media all and (max-width: 468px) {
  .caption {
    width: 350px;
  }

  .caption h1 {
    font-size: 40px;
  }

  .caption h1 span#chocid {
    font-size: 60px;
  }

  div#homecont h1 {
    font-size: 60px;
  }

  div#homecont p {
    font-size: 19px;
  }

}

/* ---------------------------- history -------------------------- */
body#historybd {
  background-color: #222222;
}

div#historycontent h1 {
  font-family: 'Orbitron', sans-serif;
  color: #efefef;
  text-align: center;
  text-transform: uppercase;
  margin-top: 200px;
}

div#historycontent h5 {
  color: #efefef;
  text-align: center;
  font-size: 16px;
  margin-top: 100px;
}

.wrapper {
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #fff;
  position: relative;
}

div#histotime section {
  height: 100vh;
  /*font-size: 40px;*/
  font-weight: 100;
  background-color: #22A7F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#histotime section:nth-child(1) {
  background: white;
}

div#histotime section:nth-child(2) {
  /*background: #222222;*/
  background: -webkit-linear-gradient(#222222, #383838); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#222222, #383838); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#222222, #383838); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#222222, #383838); /* Standard syntax */
  margin-top: 300px;
}

div#histotime section:nth-child(3) {
  /*background: #383838;*/
  background: -webkit-linear-gradient(#383838, #4e4e4e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#383838, #4e4e4e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#383838, #4e4e4e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#383838, #4e4e4e); /* Standard syntax */
}

div#histotime section:nth-child(4) {
  /*background: #4e4e4e;*/
  background: -webkit-linear-gradient(#4e4e4e, #646464); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4e4e4e, #646464); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4e4e4e, #646464); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4e4e4e, #646464); /* Standard syntax */
}

div#histotime section:nth-child(5) {
  /*background: #646464;*/
  background: -webkit-linear-gradient(#646464, #7a7a7a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#646464, #7a7a7a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#646464, #7a7a7a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#646464, #7a7a7a); /* Standard syntax */
}

div#histotime section:nth-child(6) {
  /*background: #7a7a7a;*/
  background: -webkit-linear-gradient(#7a7a7a, #909090); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7a7a7a, #909090); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7a7a7a, #909090); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7a7a7a, #909090); /* Standard syntax */
}

div#histotime section:nth-child(7) {
  /*background: #909090;*/
  background: -webkit-linear-gradient(#909090, #a6a6a6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#909090, #a6a6a6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#909090, #a6a6a6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#909090, #a6a6a6); /* Standard syntax */
}

div#histotime section:nth-child(8) {
  /*background: #a6a6a6;*/
  background: -webkit-linear-gradient(#a6a6a6, #bcbcbc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a6a6a6, #bcbcbc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a6a6a6, #bcbcbc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a6a6a6, #bcbcbc); /* Standard syntax */
}

div#histotime section p {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  padding-right: 300px;
  padding-left: 300px;
}

div#histotime .nav__wrapper {
  /*border:1px solid red;*/
  margin-top: -15px;
  position: fixed;
  height: 100%;
  padding: 30px;
  padding-top: 0px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
div#histotime .nav {
  margin: 0 0 100px 30px;
}
div#histotime .nav__counter {
  font-size: 24px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
div#histotime .nav__title {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 0.25em;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
div#histotime .nav__body {
  font-weight: 100;
  font-size: 18px;
  font-size: 18px;
  width: 300px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s ease-out, opacity 0.2s ease-out;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}
div#histotime .nav li {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-bottom: 1em;
}
div#histotime .nav li:after {
  content: '';
  display: block;
  border-left: 2px solid white;
  border-top: 2px solid white;
  height: 250px;
  width: 20px;
  position: absolute;
  left: -30px;
  top: 15px;
}
div#histotime .nav li a {
  display: block;
  padding: 0;
  color: #fff;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
div#histotime .nav li a:hover {
  background-color: transparent;
  padding-left: 1em;
}
div#histotime .nav li a:focus {
  background-color: transparent;
}
div#histotime .nav li.active {
  pointer-events: none;
  padding-left: 1em;
}
div#histotime .nav li.active:after {
  width: 35px;
  height: 400px;
  top: 35px;
}
div#histotime .nav li.active .nav__counter {
  font-size: 48px;
}
div#histotime .nav li.active .nav__title {
  height: 40px;
  opacity: 1;
  overflow: visible;
}
div#histotime .nav li.active .nav__body {
  height: 100px;
  opacity: 1;
  overflow: visible;
}

/* -- back to top button -- */
.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;  
  padding: 0.5em;
  margin: 0.5em;
  /*background: #E8E8E8;
  border: 2px solid #000;*/
  color: #ffffff;
  font-size: 25px;
}
.back-to-top:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 7px;
}

/* ---------------------------- history02 -------------------------- */
body#historybd02 {
  background-color: #222222;
}

body#historybd02 div#historycontent h1 {
  font-family: 'Orbitron', sans-serif;
  color: #efefef;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}


body#historybd02 div#timeline a {
  color: #ffffcc;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

body#historybd02 div#timeline a:hover,
body#historybd02 div#timeline a.selected {
  color: #ffcc00;
}

body#historybd02 h2,
body#historybd02 h4,
body#historybd02 h5,
body#historybd02 h6 {
  text-align: center;
  color: #ccc;
  text-shadow: #000 1px 1px 2px;
  margin-bottom: 5px;
}

body#historybd02 h1 {
  font-size: 18px;
}

body#historybd02 h2 {
  font-size: 14px;
}

body#historybd02 .sociales {
  text-align: center;
  margin-bottom: 20px;
}

body#historybd02 #timeline {
  width: 800px;
  height: 350px;
  overflow: hidden;
  margin: 100px auto;
  position: relative;
  background: url('../images/dot.gif') left 45px repeat-x;
}

body#historybd02 #dates {
  width: 800px;
  height: 60px;
  overflow: hidden;
}

body#historybd02 #dates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background: url('../images/biggerdot.png') center bottom no-repeat;
}

body#historybd02 #dates a {
  line-height: 38px;
  padding-bottom: 10px;
}

body#historybd02 #dates .selected {
  font-size: 38px;
}

body#historybd02 #issues {
  width: 800px;
  height: 350px;
  overflow: hidden;
}

body#historybd02 #issues li {
  width: 800px;
  height: 350px;
  list-style: none;
  float: left;
}

body#historybd02 #issues li.selected img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

body#historybd02 #issues li img {
  float: left;
  margin: 10px 30px 10px 50px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE 8 */
  
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* IE 6 & 7 */
  
  zoom: 1;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}

body#historybd02 #issues li h1 {
  color: #ffcc00;
  font-size: 48px;
  margin: 20px 0;
  text-shadow: #000 1px 1px 2px;
  text-align: left;
  padding-left: 70px;
}

body#historybd02 #issues li p {
  font-size: 14px;
  margin-right: 70px;
  margin-left: 70px;
  font-weight: normal;
  line-height: 22px;
  text-shadow: #000 1px 1px 2px;
  color: #ffffff;
}

body#historybd02 #grad_left,
body#historybd02 #grad_right {
  width: 100px;
  height: 350px;
  position: absolute;
  top: 0;
}

body#historybd02 #grad_left {
  left: 0;
  background: url('../images/grad_left.png') repeat-y;
}

body#historybd02 #grad_right {
  right: 0;
  background: url('../images/grad_right.png') repeat-y;
}

body#historybd02 #next,
body#historybd02 #prev {
  position: absolute;
  top: 0;
  font-size: 70px;
  top: 170px;
  width: 22px;
  height: 38px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

body#historybd02 #next:hover,
body#historybd02 #prev:hover {
  background-position: 0 -76px;
}

body#historybd02 #next {
  right: 0;
  background: red;
  color: #ffffff;
  border: 1px solid red;
  font-size: 20px;
}

body#historybd02 #prev {
  left: 0;
  background: blue;
  color: #ffffff;
  font-size: 20px;
}

body#historybd02 #next.disabled,
body#historybd02 #prev.disabled {
  opacity: 0.2;
}

/* --------------------------- game --------------------------- */
body#gamebd {
  background-color: #222222;
}

div#gamecontent h1 {
  font-family: 'Orbitron', sans-serif;
  color: #efefef;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
}

#quizzie {
  padding: 5% 0;
  /* Individual Steps/Sections */
  /* Content */
}
#quizzie ul {
  list-style: none;
  display: block;
  width: auto;
  margin: 2% 2%;
  padding: 2%;
  overflow: auto;
  display: none;
  /* Step Questions and Answer Options */
}
#quizzie ul.current {
  display: block;
}
#quizzie ul li {
  display: inline-block;
  float: left;
  width: 49%;
  margin-right: 2%;
  overflow: auto;
  text-align: center;
}

#quizzie ul li div h2 {
  font-family: 'Lato', sans-serif;
  color: #cecece;
  font-size: 18px;
}

#quizzie ul li div p {
  font-family: 'Lato', sans-serif;
  color: #cecece;
  font-size: 14px;
  padding-top: 10px;
}


#quizzie ul li.quiz-answer {
  cursor: pointer;
}
#quizzie ul li.question, #quizzie ul li.results-inner {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 2%;
}

#quizzie ul li.results-inner {
  padding: 5% 2%;
}

#quizzie ul li.results-inner p {
  font-family: 'Lato', sans-serif;
  color: #cecece;
  font-size: 14px;
}

#quizzie ul li.results-inner img {
  width: 250px;
}
#quizzie ul li:last-child {
  margin-right: 0;
}
#quizzie .question-wrap, #quizzie .answer-wrap {
  display: block;
  padding: 1%;
  margin: 1em 10%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#quizzie .answer-wrap {
  background: rgba(64, 64, 64, 0.7);
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
#quizzie .answer-wrap:hover {
  background: rgba(64, 64, 64, 1);
}